.logo {
  width: 280px;
  filter: saturate(88%);
}

.App-header {
  padding-top: 225px;
  display: block;
}

.searchbox {
  width: 440px;
  height: 40px;
  border: 1px solid #DFDFDF;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 120px;
}

.searchbox:focus {
  box-shadow: 2px 2px 5px #DFDFDF;
  outline-width:0;
outline:none;
}

.searchbox:hover {
  box-shadow: 2px 2px 5px #DFDFDF;
}

.searchicon {
  position: absolute;
  width: 25px;
  filter: brightness(150%);
  top: 397px;
  left: 34.5%;
}

.mic {
  position: absolute;
  width: 14px;
  top: 398px;
  left: 61.7%;
}

.camera {
  position: absolute;
  width: 27px;
  top: 396px;
  left: 63.7%;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}
.button {
  border: none;
  background-color: #F8F9FA;
  padding: 12px 22px;
  margin: 30px 0 10px 0;
  font-size: 100%;
  border-radius: 6px;
}

.button:hover {
  border: 1px solid #DFDFDF;
}


.space{
  padding: 5px;
}

a{
  text-decoration: none;
  color: #1a0dbe;
  
}

.lang {
  font-size: 80%; 
}
a:hover {
  border-bottom: 1px solid ;
}

@media screen and (max-width: 1280px){
    .searchicon{
      left: 27%;
    }
    .mic {
      padding-top: 2px;
      left:  68%;
      width: 12px;
    }
    .camera {
      padding-top: 2px;
      left: 70.5%;
      width: 22px;
    }
}


@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }
  .searchbox {
      width: 220px;
      height: 35px;
  }

  .searchicon {
    top: 39.4%;
    left: 12%;
  }
  .mic {
    top: 39.8%;
    left:  77%;
    width: 12px;
  }
  .camera {
    top: 39.5%;
    left: 82.2%;
    width: 22px;
  }
  .button {
    font-size: 80%;
  }
  .lang {
    font-size: 70%;
    width: 320px;
  }
}

@media screen and (max-width: 393px) {
  .searchbox{
    max-width: 220px;
    height: 35px;
      padding-left: 30px;
  padding-right: 60px;
  }
  .searchicon {
    top: 41.5%;
    left: 12%;
  }
  .mic {
    top: 41.6%;
    left:  76%;
    width: 12px;
  }
  .camera {
    top: 41.2%;
    left: 82%;
    width: 22px;
  }
}


@media screen and (max-width: 375px) {
  .App-header {
    padding-top: 60%;
  }
  .logo {
    width: 180px;
  }
  .searchbox {
      width: 220px;
      height: 35px;
      padding-left: 30px;
  padding-right: 60px;
  }
  .searchicon {
    top: 50.6%;
    left: 12%;
  }
  .mic {
    top: 51%;
    left:  76%;
    width: 12px;
  }
  .camera {
    top: 50.7%;
    left: 82.2%;
    width: 22px;
  }
  .lang{
    font-size: 64%;
  }
}