.logo {
  width: 280px;
  filter: saturate(88%);
}

.App-header {
  padding-top: 225px;
  display: block;
}

.searchbox {
  width: 440px;
  height: 40px;
  border: 1px solid #DFDFDF;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 120px;
}

.searchbox:focus {
  box-shadow: 2px 2px 5px #DFDFDF;
  outline-width:0;
outline:none;
}

.searchbox:hover {
  box-shadow: 2px 2px 5px #DFDFDF;
}

.abso{
  position: relative;
}

.sb{
  display: flex;
  justify-content: space-between;
  padding-right: 22px;
  background-color: #1a0dbe;
}

.poc{
  display: flex;    
  justify-content: center;
}

.ri{
  margin-right: 70px;
}

.searchicon {
  position: absolute;
  width: 24px;
  filter: brightness(150%);
  padding: 10px 10px;
}

.mic {
  position: absolute;
  width: 14px;
  margin-right: 12px;
  padding: 10px 10px;
}

.camera {
  position: absolute;
  width: 26px;
  padding: 8px 8px;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}
.button {
  border: none;
  background-color: #F8F9FA;
  border: 1px solid transparent;
  padding: 8px 14px;
  margin: 30px 0 10px 0;
  font-size: 100%;
  border-radius: 4px;
}

.button:hover {
  border: 1px solid #DFDFDF;
}


.space{
  padding: 5px;
}

a{
  text-decoration: none;
  color: #1a0dbe;
  
}

.lang {
  font-size: 80%; 
}
a:hover {
  border-bottom: 1px solid ;
}

@media screen and (max-width: 1280px){
}


@media screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }
  .searchbox {
      width: 220px;
      height: 35px;
  }
  .searchicon{
    padding-top: 7px;
  }
  .mic{
    padding-top: 9px;
  }
  .camera{
    padding-top: 6px; 
  }
  .button {
    font-size: 80%;
  }
  .lang {
    font-size: 70%;
    width: 320px;
  }
}

@media screen and (max-width: 393px) {
  .searchbox{
    max-width: 220px;
    height: 35px;
      padding-left: 30px;
  padding-right: 60px;
  }
}


@media screen and (max-width: 375px) {
  .App-header {
    padding-top: 60%;
  }
  .logo {
    width: 180px;
  }
  .searchbox {
      width: 220px;
      height: 35px;
      padding-left: 30px;
  padding-right: 60px;
  }
  .lang{
    font-size: 64%;
  }
}