.Footer {
    width: 100vw;
    background-color: #F2F2F2;
    color: #797979;
    position: absolute;
    bottom: 0;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}
.country {
    padding: 20px;
    border-bottom: 1px solid #DFDFDF;
}

.content-1 {
    display: flex;
    padding-right: 20px;
}

.content-1 > p{
    margin-left: 20px;
}

.hsw{
    width: 160px;
}



@media screen and (max-width: 768px){
    .Footer{
        margin-top: 0;
        position: absolute;
        bottom: 0;
    }
    .Footer{
        font-size: 70% !important;
    }
    .footer-section{
        display: block;
    }
}
